[submodule "tools/openmmote-bsl/cc2538-bsl"]
	path = tools/openmmote-bsl/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl
[submodule "tools/openmote-bsl/cc2538-bsl"]
	path = tools/openmote-bsl/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl
